
/* Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


body{
    font-family: 'Comfortaa';
    background-color: #FBF9F6;
    color: #997C61;
}
    /* Header*/
header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    width: 100%;
    background-color: #FBF9F6;
    border-bottom: 1px solid #997C61;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
header i{
    margin-right: 50px;
    font-size: 60px;
}
.header-logo{
    margin-left: 50px;
    padding:5px;
    width:180px;

}
.center{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sidebar{
    list-style: none;
    position: fixed;
    right: 0;
    top: 0px;
    height: 100vh;
    width: 40%;
    z-index: 999;
    background-color: #FBF9F6;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;


}
 @media(max-width: 400px){
    .sidebar{
   width: 100%;
   }
   }

.sidebar li{
    margin-right: auto;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;

}
.sidebar a{

    color: #997C61;
    text-decoration: none;
    font-size: 1.9rem;
    width: 100%;
    padding: 30px 20px;
    margin: 0;

}
.sidebar a:hover{
    background-color: #856441;
    color: #FBF9F6;
}
.menubutton{
    display: none;
}

@media(max-width: 995px){
    .hideOnMobile{
        display: none;
    }
    .header-logo{
    width:400px;
    }
    .menubutton{
        display: block;
    }
}



.head ul a{
    list-style: none;
    margin-right: 40px;
    padding: 8px 15px;
    color: #997C61;
    text-decoration: none;
    border-radius: 20px;
    transition: 100ms linear;
}
.head ul a:hover {
    color: #FBF9F6;
    background-color: #856441;
    border-radius: 16px;
    text-decoration: none;
    transition: 80ms linear;
}

/* Banner*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
    background: url("/static/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 910px){
    }
}


.banner img{
    width: 400px;
    padding: 10px 0 0 0;
    margin: 0 100px 0 50px;
     z-index: -1;
     display: flex;



}
.banner a{
    font-size: 17px;
    padding: 10px 30px;
    border: solid 2px #6C3F1F;
    color: #6C3F1F;
    background-color: #FBF9F6;
    border-radius: 30px;
    text-decoration: none;
        margin: 0 0 0 50px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: 80ms linear;
    
}
.banner a:hover{
    background-color: #6C3F1F;
    color: #FBF9F6;

    transition: 100ms linear;

}
/* Procedimentos*/
.procedimentos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 600px;



    border-top: 3px solid #6C3F1F;
    margin-top: -4px;
    background-color: #FBF9F6;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 20px 0px;
}
.procedimentos h4{
    color: #6C3F1F;
    margin: 10px 50px 0 50px;
    font-size: 20px;
    padding: 8px 20px;
}

.wrapper{
    max-width: 1100px;
    width: 80%;
    position: relative;

}

.wrapper i{
    height: 50px;
    width: 50px;
    background: #FBF9F6;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    color: #6C3F1F;
}
.wrapper i:first-child {
    left: -22px;
}
.wrapper i:last-child {
    right: -22px;
}



.wrapper .carrossel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    margin-right: -40px;

    @media screen and (max-width: 1100px) {
    grid-auto-columns: calc((100% / 2) - 0px);
    }
    @media screen and (max-width: 700px) {
    grid-auto-columns: 100%;
    }
}

.carrossel::-webkit-scrollbar{
    display: none;
}
.carrossel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;

}
.carrossel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carrossel .dragging .card{
    cursor: grab;
    user-select: none;
}

.carrossel .card{
    scroll-snap-align: start;
    list-style: none;
    height: 342px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 5%;
    background: #FBF9F6;

    }


.card .img img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 20%;

}
.card .img{

    width: 228px;
    height: 228px;
    border-radius: 22%;
    border: 3px solid #6C3F1F;
}
.card h3{
    color: #6C3F1F;
    padding: 17px;
}


.procedimentos a{

    font-size: 15px;
    padding: 8px 20px;
    border: solid 2px #6C3F1F;
    color: #6C3F1F;
    background-color: #FBF9F6;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: 80ms linear;
    margin: 0 30px 0 20px;
}
.procedimentos a:hover{
    color: #FBF9F6;
    background-color: #6C3F1F;

}



/* Sobre*/
.sobre{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    background-color: #5A2F0C;
    color: #FBF9F6;
}
.sobre img{
    width: 280px;

    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.sobre ul{
    padding: 10px;
    max-width: 600px;
    max-height: 400px;
    align-self: center;
}

.sobre ul h2{
    font-size: 40px;
    text-align: center;
}
.sobre ul p{
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
}


/* Footer*/
.fa-brands {
    /* color: #bda556; */
    color: #997C61;
    font-size: 25px;
    margin-right: 15px;
}

footer {
    background-color: #ccb499;
    padding: 40px 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 767px) {
        display: flex;
        align-content:space-between;
        justify-content: center;
        margin: 20px 150px;
        height: 350px;
        text-align: center;
      }
}

footer .footer-logo {
    width: 150px;
}

.footer {
    position: relative;
    padding-top: 20px;
}

.footer-icon {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}



/* CONTATO*/
.contato{
background-color:green;
}








/* Estilos para dispositivos de tela grande (desktops) */
@media only screen and (min-width: 1200px) {
    /* Estilos para telas grandes */
    /* Por exemplo, largura mínima de 1200 pixels */
  }
  
  /* Estilos para dispositivos de tela média (tablets) */
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    /* Estilos para telas médias */
    /* Por exemplo, largura entre 768 e 1199 pixels */
  }
  
  /* Estilos para dispositivos de tela pequena (smartphones) */
  