body{
    font-family: 'Comfortaa';
    background-color: #FBF9F6;
    color: #997C61;
}
.procedimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.procedure {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Garante que as divs comecem no topo */
    flex-direction: row;
    margin-bottom: 20px; /* Adiciona espaço entre as divs */
}

.procedure img {
    max-width: 400px;
    padding-right: 45px; /* Adiciona espaço entre a imagem e o texto */
    align-self: center;
}

.procedure .text {
    max-width: 400px;
}

.procedure h2 {
    color: #997C61;
    text-align: -webkit-center;
}

.procedure p {
    color: #856441;
    text-align: justify;
}
.procedimentos b {
    font-size: 15px;
    padding: 8px 20px;
    border: solid 2px #6C3F1F;
    color: #6C3F1F;
    background-color: #FBF9F6;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: 80ms linear;
    margin: 0 30px 0 20px;
}

