<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suélem Barros - Estética e Beleza</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        <div><a href="/"><img src="../static/img/logo.png" class="header-logo"></a></div>
        <ul>
            <a href="/login">Agendar</a>
            <a href="#">Procedimentos</a>
            <a href="#">A Estética</a>
        </ul>
        <ul>
        <a href="/login">Acessar</a>
        </ul>
    </header>

    <nav class="banner">
    <div>
        <a href="#">Faça seu agendamento</a>
    </div>
    <div>
        <img src="../static/img/banner.png">
    </div>
</nav>
    <div class="procedimentos">
        <div><h4>PROCEDIMENTOS</h4></div>

        <ul class="carrossel">
            <li class="card">
                <img src="../static/img/criolipose.jpeg" draggable="false">
                <h3>Criolipóse de Placas</h3>
            </li>
            <li class="card">
                <img src="../static/img/endolaser.jpg" draggable="false">
                <h3>Endolaser</h3>
            </li>
            <li class="card">
                <img src="../static/img/radiofrequencia.jpg" draggable="false">
                <h3>Radiofrequência</h3>
            <li class="card">
                <img src="../static/img/ozonioterapia.jpg" draggable="false">
                <h3>Ozonioterapia</h3>
            </li>
            <li class="card">
                <img src="../static/img/carboxterapia.jpg" draggable="false">
                <h3>Carboxterapia</h3>
            </li>

        </ul>

        <div><a href="#">Veja mais procedimentos</a></div>

    </div>
    <div class="sobre">
        <div>
            <img src="../static/img/sobre.jpg" alt="img">
        </div>
        <ul>
                <h2>Cuidado e Amor!<h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum interdum commodo. Quisque commodo tellus at leo laoreet aliquam. Integer lobortis ex quis mauris venenatis fringilla. Suspendisse lorem leo, consectetur in tempor vel, tempor ut est. Suspendisse felis sapien, blandit ac dui vel, mattis auctor lorem. Suspendisse a nulla fermentum, scelerisque nulla at, semper arcu. Nunc ultricies enim a rutrum sodales. In suscipit finibus libero sed ornare.<p>

        </ul>
    </div>




    <footer class="footer">
            <i id="backToTop" class="fa-solid fa-circle-chevron-up footer-icon"></i>     
        <div class="container">
            <img src="../static/img/logo.png" alt="Logo da estetica" class="footer-logo">
            <div class="footer-info">
                <h4>Estamos localizados no endereço: </h4>
                <p><i class="fa-solid fa-map-location-dot"></i> Rua Diogo Móia N° 535 </p>
                <p>Umarizal</p>
            </div>
            <div class="footer-contact">
                <h4>Entre em contato: </h4>
                <p><i class="fa-solid fa-phone"></i> (91)3333-3333</p>
                <p><i class="fa-regular fa-envelope"></i> suelem@barros.com</p>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        
    </footer>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/drag.js"></script>
</body>
</html>